@charset "UTF-8";
.footer {
  padding-top: 10%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: #4d4d4d;
}

.footer__main {
  display: flex;
}

.footer__logo-column {
  flex: 2 1 36.5%;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}
.footer__logo-column p {
  margin: 7% 0;
}

.footer__logo {
  flex: 1 1 100%;
  position: relative;
}
.footer__logo::after {
  content: "©2021.";
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: 20%;
  top: 80%;
}

.footer__year {
  font-size: 12px;
  flex: 1 1 80%;
}

.footer__descriptor {
  flex: 1 1 50%;
}

.footer__social {
  display: flex;
  flex: 1 1 100%;
  gap: 5%;
}

.footer__menu-column {
  flex: 3 3 35%;
}
.footer__menu-column ul {
  display: flex;
  justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  height: 100%;
}
.footer__menu-column ul li {
  flex: 1 1 50%;
  justify-self: flex-end;
  justify-content: flex-end;
}

.footer__links {
  flex: 2 2 34%;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__platforms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__platforms p {
  flex: 1 1 100%;
  margin-bottom: 10%;
}

.footer__download p {
  margin-bottom: 3%;
}

.footer__law-line {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: #4d4d4d solid 0.5px;
  margin-top: 10%;
}

.footer__terms {
  flex: 1 0 auto;
  margin-left: auto;
}

.footer__privacy {
  flex: 1 0 auto;
  margin-left: auto;
}